---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=some+title
    headers:
      Authorization:
      - OAuth oauth_consumer_key="fLreLhFULyPeOvJdupgFvvs5S", oauth_nonce="011674b8c713aab0768dfcc2c7e23637",
        oauth_signature="cWn4rbqwYH0fj43oH24ISuVI5c0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1511122258", oauth_token="915838411-wEZT7tIicMYZVa9g1krGxXOkRDwnocAmpTsVy6rl",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 19 Nov 2017 20:11:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f85181c2497bc529d53ab29d6436cbae
      X-Response-Time:
      - '452'
      X-Transaction:
      - 001c6e600072fed9
      X-Tsa-Request-Body-Time:
      - '74'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sun Nov 19 20:11:02 +0000 2017","id":932340459325788160,"id_str":"932340459325788160","text":"some
        title","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/bigbeartea.com\" rel=\"nofollow\"\u003ebigbeartea\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":915838411,"id_str":"915838411","name":"Bigbearbubbletea","screen_name":"Bigbearbubblete","location":"5716
        Woodside NY 11377","description":"Thank you for visiting us. We provide fresh
        Bubble Tea and French Macrons. \r\nhttp:\/\/t.co\/7WSUItWe2z","url":"http:\/\/t.co\/yTiMQcQreJ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/yTiMQcQreJ","expanded_url":"http:\/\/bigbearbubbletea.com","display_url":"bigbearbubbletea.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/7WSUItWe2z","expanded_url":"http:\/\/www.bigbearbubbletea.com","display_url":"bigbearbubbletea.com","indices":[77,99]}]}},"protected":false,"followers_count":3,"friends_count":0,"listed_count":0,"created_at":"Wed
        Oct 31 00:48:04 +0000 2012","favourites_count":0,"utc_offset":-14400,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":4,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2786879011\/82f55e4cdce96aff4ceb36f552961324_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2786879011\/82f55e4cdce96aff4ceb36f552961324_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Sun, 19 Nov 2017 20:10:59 GMT
recorded_with: VCR 3.0.3
